{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2 class="h3 mt-5 font-weight-normal text-center">Bienvenue sur ce site de traduction</h2>
    <img src={{asset('media/world.jpg')}} width=70% class="rounded mx-auto d-block mt-5" >
{% endblock %}
